body{
    background-color: #e6ccff;
    font-family: 'Lucida Sans';
    text-align: center;
}
h1{
    color: #660033; 
}
h2{
    color: #993366;   
}
h3{
    color: #cc6699;
}
p{
    color: #4d4d33;
}
h3{
    color: #cc6699;
}
p{
    color: #4d4d33;
}
h3{
    color: #cc6699;
}
ul{
    color: #4d4d33;
}
h3{
    color: #cc6699;
}
p{
    color: #4d4d33;
}
h3{
    color: #cc6699
}
ul{
    color: #4d4d33
}